## Question 1

In [1]:
import pandas as pd
import numpy as np

pd.set_option('future.no_silent_downcasting', True)

In [2]:
df = pd.read_excel('Energy Indicators.xls')

In [3]:
def clear_energy_indicators(df: pd.DataFrame):
    df = df[17:244]    
    df = df.drop(df.columns[[0, 1]] , axis=1)
    df = df.rename(columns={'Unnamed: 2': 'Country', 'Unnamed: 3': 'Energy Supply', 'Unnamed: 4': 'Energy Supply per Capita', 'Unnamed: 5': '% Renewable'})
    df = df.replace('...', np.nan)
    df['Energy Supply'] *= 1000000
    df['Country'] = df['Country'].str.replace(r'\s*\(.*?\)|\d+', '', regex=True)
    replace_values = {'Republic of Korea' : 'South Korea', 'United States of America': 'United States', 
                      'United Kingdom of Great Britain and Northern Ireland': 'United Kingdom',
                      'China, Hong Kong Special Administrative Region': 'Hong Kong'}  
    df = df.replace(replace_values) 
    df.reset_index(inplace=True)
    df.drop(df.columns[0], axis=1, inplace=True)
    return df

In [4]:
energy = clear_energy_indicators(df)
energy

,Country,Energy Supply,Energy Supply per Capita,% Renewable
0,Afghanistan,321000000,10,78.66928
1,Albania,102000000,35,100
2,Algeria,1959000000,51,0.55101
3,American Samoa,NaN,NaN,0.641026
4,Andorra,9000000,121,88.69565
...,...,...,...,...
222,Viet Nam,2554000000,28,45.32152
223,Wallis and Futuna Islands,0,26,0
224,Yemen,344000000,13,0
225,Zambia,400000000,26,99.71467
226,Zimbabwe,480000000,32,52.53612

In [5]:
df = pd.read_csv('API_NY.GDP.MKTP.CD_DS2_en_csv_v2_76261.csv', skiprows=3)

In [6]:
def clear_world_bank(df: pd.DataFrame):
    replace_values = {'Korea, Rep.' : 'South Korea', 'Iran, Islamic Rep.' : 'Iran',
                  'Hong Kong SAR, China': 'Hong Kong'}  
    df = df.replace(replace_values)
    df = df.rename(columns={'Country Name': 'Country'})
    df.drop(df.columns[4:50], axis=1, inplace=True)
    df = df.drop(df.columns[14:], axis=1)
    df = df.drop(['Country Code', 'Indicator Name', 'Indicator Code'], axis=1)
    return df

In [7]:
GDP = clear_world_bank(df)
GDP.head(5)

,Country,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,2.469783e+09,2.677641e+09,2.843025e+09,2.553793e+09,2.453597e+09,2.637859e+09,2.615208e+09,2.727850e+09,2.790850e+09,2.962907e+09
1,Africa Eastern and Southern,5.802408e+11,6.655987e+11,7.135021e+11,7.154853e+11,8.494097e+11,9.454391e+11,9.529986e+11,9.623949e+11,9.787083e+11,8.982778e+11
2,Afghanistan,6.971758e+09,9.747886e+09,1.010930e+10,1.241615e+10,1.585667e+10,1.780510e+10,1.990733e+10,2.014642e+10,2.049713e+10,1.913422e+10
3,Africa Western and Central,3.981397e+11,4.668837e+11,5.693217e+11,5.099177e+11,6.001527e+11,6.838881e+11,7.399381e+11,8.369374e+11,8.974157e+11,7.717669e+11
4,Angola,5.238103e+10,6.526642e+10,8.853867e+10,7.030720e+10,8.379947e+10,1.117897e+11,1.280529e+11,1.323391e+11,1.359668e+11,9.049642e+10

In [8]:
df = pd.read_excel('scimagojr country rank 1996-2023.xlsx')

In [9]:
def clear_EEnPT(df: pd.DataFrame):
    df = df[:15]
    df = df.drop(['Region'], axis=1)
    return df

In [10]:
ScimEn = clear_EEnPT(df)
ScimEn

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,402188,400158,5077232,3511673,12.62,343
1,2,United States,208042,203356,3540288,1004877,17.02,458
2,3,India,81853,79757,968523,369256,11.83,237
3,4,Japan,58342,57735,717946,154848,12.31,228
4,5,United Kingdom,56288,54713,1095371,179764,19.46,293
5,6,Germany,50906,49773,777362,160302,15.27,252
6,7,Russian Federation,46186,45868,217996,96688,4.72,112
7,8,Canada,41209,40390,915491,142691,22.22,284
8,9,Italy,38700,36909,639473,147302,16.52,209
9,10,South Korea,38362,38046,618762,105419,16.13,198
10,11,Iran,32080,31725,634135,177894,19.77,198
11,12,France,30810,30139,547122,89958,17.76,221
12,13,Spain,29840,29156,614087,104845,20.58,216
13,14,Australia,27993,27254,608021,84747,21.72,234
14,15,Brazil,27316,26888,307607,71778,11.26,154

In [11]:
df_merged = ScimEn.merge(energy, on="Country", how="inner").merge(GDP, on="Country", how="inner")

In [12]:
df_merged

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,1,China,402188,400158,5077232,3511673,12.62,343,127191000000,93,...,2.752119e+12,3.550328e+12,4.594337e+12,5.101691e+12,6.087192e+12,7.551546e+12,8.532185e+12,9.570471e+12,1.047562e+13,1.106157e+13
1,2,United States,208042,203356,3540288,1004877,17.02,458,90838000000,286,...,1.381558e+13,1.447423e+13,1.476986e+13,1.447807e+13,1.504897e+13,1.559973e+13,1.625397e+13,1.688068e+13,1.760814e+13,1.829502e+13
2,3,India,81853,79757,968523,369256,11.83,237,33195000000,26,...,9.402599e+11,1.216736e+12,1.198895e+12,1.341888e+12,1.675616e+12,1.823052e+12,1.827638e+12,1.856722e+12,2.039126e+12,2.103588e+12
3,4,Japan,58342,57735,717946,154848,12.31,228,18984000000,149,...,4.601663e+12,4.579751e+12,5.106679e+12,5.289493e+12,5.759072e+12,6.233147e+12,6.272363e+12,5.212328e+12,4.896994e+12,4.444931e+12
4,5,United Kingdom,56288,54713,1095371,179764,19.46,293,7920000000,124,...,2.708442e+12,3.090510e+12,2.929412e+12,2.412840e+12,2.485483e+12,2.663806e+12,2.707090e+12,2.784854e+12,3.064708e+12,2.927911e+12
5,6,Germany,50906,49773,777362,160302,15.27,252,13261000000,165,...,3.046309e+12,3.484057e+12,3.808786e+12,3.479801e+12,3.468154e+12,3.824829e+12,3.597897e+12,3.808086e+12,3.965801e+12,3.423568e+12
6,7,Russian Federation,46186,45868,217996,96688,4.72,112,30709000000,214,...,9.899321e+11,1.299703e+12,1.660848e+12,1.222646e+12,1.524917e+12,2.045923e+12,2.208294e+12,2.292470e+12,2.059242e+12,1.363482e+12
7,8,Canada,41209,40390,915491,142691,22.22,284,10431000000,296,...,1.319265e+12,1.468820e+12,1.552990e+12,1.374625e+12,1.617343e+12,1.793327e+12,1.828366e+12,1.846597e+12,1.805750e+12,1.556509e+12
8,9,Italy,38700,36909,639473,147302,16.52,209,6530000000,109,...,1.958564e+12,2.222524e+12,2.417508e+12,2.209484e+12,2.144936e+12,2.306974e+12,2.097929e+12,2.153226e+12,2.173256e+12,1.845428e+12
9,10,South Korea,38362,38046,618762,105419,16.13,198,11007000000,221,...,1.053217e+12,1.172614e+12,1.047339e+12,9.439419e+11,1.143672e+12,1.253290e+12,1.278047e+12,1.370633e+12,1.484489e+12,1.466039e+12
10,11,Iran,32080,31725,634135,177894,19.77,198,9172000000,119,...,2.656022e+11,3.497366e+11,4.060709e+11,4.140591e+11,4.870696e+11,6.290823e+11,6.440193e+11,5.003998e+11,4.622848e+11,4.091917e+11
11,12,France,30810,30139,547122,89958,17.76,221,10597000000,166,...,2.317862e+12,2.655817e+12,2.926803e+12,2.700076e+12,2.646230e+12,2.870409e+12,2.683007e+12,2.816078e+12,2.861236e+12,2.442483e+12
12,13,Spain,29840,29156,614087,104845,20.58,216,4923000000,106,...,1.261847e+12,1.476746e+12,1.636115e+12,1.496588e+12,1.427989e+12,1.487569e+12,1.330995e+12,1.362187e+12,1.380245e+12,1.206165e+12
13,14,Australia,27993,27254,608021,84747,21.72,234,5386000000,231,...,7.484176e+11,8.550075e+11,1.056112e+12,9.287621e+11,1.148838e+12,1.398611e+12,1.547532e+12,1.577123e+12,1.468265e+12,1.351296e+12
14,15,Brazil,27316,26888,307607,71778,11.26,154,12149000000,59,...,1.107627e+12,1.397114e+12,1.695855e+12,1.666996e+12,2.208838e+12,2.616156e+12,2.465228e+12,2.472820e+12,2.456044e+12,1.802212e+12

In [13]:
def answer_one():
    df = pd.read_excel('Energy Indicators.xls')
    energy = clear_energy_indicators(df)

    df = pd.read_csv('API_NY.GDP.MKTP.CD_DS2_en_csv_v2_76261.csv', skiprows=3)
    GDP = clear_world_bank(df)

    df = pd.read_excel('scimagojr country rank 1996-2023.xlsx')
    ScimEn = clear_EEnPT(df)

    df_merged = ScimEn.merge(energy, on="Country", how="inner").merge(GDP, on="Country", how="inner")
    df_merged = df_merged.set_index("Country")
    return df_merged

In [14]:
answer_one()

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,402188,400158,5077232,3511673,12.62,343,127191000000,93,19.75491,2.752119e+12,3.550328e+12,4.594337e+12,5.101691e+12,6.087192e+12,7.551546e+12,8.532185e+12,9.570471e+12,1.047562e+13,1.106157e+13
United States,2,208042,203356,3540288,1004877,17.02,458,90838000000,286,11.57098,1.381558e+13,1.447423e+13,1.476986e+13,1.447807e+13,1.504897e+13,1.559973e+13,1.625397e+13,1.688068e+13,1.760814e+13,1.829502e+13
India,3,81853,79757,968523,369256,11.83,237,33195000000,26,14.96908,9.402599e+11,1.216736e+12,1.198895e+12,1.341888e+12,1.675616e+12,1.823052e+12,1.827638e+12,1.856722e+12,2.039126e+12,2.103588e+12
Japan,4,58342,57735,717946,154848,12.31,228,18984000000,149,10.23282,4.601663e+12,4.579751e+12,5.106679e+12,5.289493e+12,5.759072e+12,6.233147e+12,6.272363e+12,5.212328e+12,4.896994e+12,4.444931e+12
United Kingdom,5,56288,54713,1095371,179764,19.46,293,7920000000,124,10.60047,2.708442e+12,3.090510e+12,2.929412e+12,2.412840e+12,2.485483e+12,2.663806e+12,2.707090e+12,2.784854e+12,3.064708e+12,2.927911e+12
Germany,6,50906,49773,777362,160302,15.27,252,13261000000,165,17.90153,3.046309e+12,3.484057e+12,3.808786e+12,3.479801e+12,3.468154e+12,3.824829e+12,3.597897e+12,3.808086e+12,3.965801e+12,3.423568e+12
Russian Federation,7,46186,45868,217996,96688,4.72,112,30709000000,214,17.28868,9.899321e+11,1.299703e+12,1.660848e+12,1.222646e+12,1.524917e+12,2.045923e+12,2.208294e+12,2.292470e+12,2.059242e+12,1.363482e+12
Canada,8,41209,40390,915491,142691,22.22,284,10431000000,296,61.94543,1.319265e+12,1.468820e+12,1.552990e+12,1.374625e+12,1.617343e+12,1.793327e+12,1.828366e+12,1.846597e+12,1.805750e+12,1.556509e+12
Italy,9,38700,36909,639473,147302,16.52,209,6530000000,109,33.66723,1.958564e+12,2.222524e+12,2.417508e+12,2.209484e+12,2.144936e+12,2.306974e+12,2.097929e+12,2.153226e+12,2.173256e+12,1.845428e+12
South Korea,10,38362,38046,618762,105419,16.13,198,11007000000,221,2.279353,1.053217e+12,1.172614e+12,1.047339e+12,9.439419e+11,1.143672e+12,1.253290e+12,1.278047e+12,1.370633e+12,1.484489e+12,1.466039e+12
Iran,11,32080,31725,634135,177894,19.77,198,9172000000,119,5.707721,2.656022e+11,3.497366e+11,4.060709e+11,4.140591e+11,4.870696e+11,6.290823e+11,6.440193e+11,5.003998e+11,4.622848e+11,4.091917e+11
France,12,30810,30139,547122,89958,17.76,221,10597000000,166,17.02028,2.317862e+12,2.655817e+12,2.926803e+12,2.700076e+12,2.646230e+12,2.870409e+12,2.683007e+12,2.816078e+12,2.861236e+12,2.442483e+12
Spain,13,29840,29156,614087,104845,20.58,216,4923000000,106,37.96859,1.261847e+12,1.476746e+12,1.636115e+12,1.496588e+12,1.427989e+12,1.487569e+12,1.330995e+12,1.362187e+12,1.380245e+12,1.206165e+12
Australia,14,27993,27254,608021,84747,21.72,234,5386000000,231,11.81081,7.484176e+11,8.550075e+11,1.056112e+12,9.287621e+11,1.148838e+12,1.398611e+12,1.547532e+12,1.577123e+12,1.468265e+12,1.351296e+12
Brazil,15,27316,26888,307607,71778,11.26,154,12149000000,59,69.64803,1.107627e+12,1.397114e+12,1.695855e+12,1.666996e+12,2.208838e+12,2.616156e+12,2.465228e+12,2.472820e+12,2.456044e+12,1.802212e+12

## Question 2

In [15]:
def answer_two():
    df = answer_one()
    avgGDP = df.loc[:, '2006':'2015'].mean(axis=1, skipna=True)
    avgGDP = avgGDP.sort_values(ascending=False)
    return avgGDP

In [16]:
answer_two()

Country
United States         1.572243e+13
China                 6.927707e+12
Japan                 5.239642e+12
Germany               3.590729e+12
United Kingdom        2.777505e+12
France                2.692000e+12
Italy                 2.152983e+12
Brazil                1.988889e+12
Russian Federation    1.666746e+12
Canada                1.616359e+12
India                 1.602352e+12
Spain                 1.406644e+12
South Korea           1.221328e+12
Australia             1.207997e+12
Iran                  4.567516e+11
dtype: float64

## Question 3

In [17]:
def answer_three():
    df = answer_one()
    country_name = answer_two().index[5]
    GDP_change = df.loc[country_name, '2015'] - df.loc[country_name, '2006']
    return GDP_change.item()

In [18]:
answer_three()

124621907951.68018

## Question 4

In [19]:
def answer_four():
    df = answer_one()
    df["Self Citation Ratio"] = df["Self-citations"] / df["Citations"]

    max_ratio = df["Self Citation Ratio"].max()
    country = df["Self Citation Ratio"].idxmax()

    return (country, max_ratio.item())

In [20]:
answer_four()

('China', 0.6916510807463594)

## Question 5

In [21]:
def answer_five():
    df = answer_one()
    df["Population"] = df["Energy Supply"] / df["Energy Supply per Capita"]
    return df["Population"].sort_values(ascending=False).index[2]

In [22]:
answer_five()

'United States'

## Question 6

In [23]:
def answer_six():
    df = answer_one()
    df["Population"] = df["Energy Supply"] / df["Energy Supply per Capita"]
    df["Citable documents per Person"] = df["Citable documents"] / df["Population"]

    correlation = df["Citable documents per Person"].corr(df["Energy Supply per Capita"])
    return correlation.item()

In [24]:
answer_six()

0.7019601723071187

## Question 7

In [25]:
def answer_seven():
    ContinentDict  = {'China':'Asia', 
                    'United States':'North America', 
                    'Japan':'Asia', 
                    'United Kingdom':'Europe', 
                    'Russian Federation':'Europe', 
                    'Canada':'North America', 
                    'Germany':'Europe', 
                    'India':'Asia',
                    'France':'Europe', 
                    'South Korea':'Asia', 
                    'Italy':'Europe', 
                    'Spain':'Europe', 
                    'Iran':'Asia',
                    'Australia':'Australia', 
                    'Brazil':'South America'}

    df = answer_one()
    df["Population"] = df["Energy Supply"] / df["Energy Supply per Capita"]
    df["Continent"] = pd.Series(ContinentDict)  

    df_grouped = df.groupby("Continent")["Population"].agg(["size", "sum", "mean", "std"])
    return df_grouped

In [26]:
answer_seven()

               size               sum              mean           std
Continent
Asia              5   2898666386.6106   579733277.32212  6.790979e+08
Australia         1   23316017.316017   23316017.316017           NaN
Europe            6  457929667.216372   76321611.202729  3.464767e+07
North America     2   352855249.48025  176427624.740125  1.996696e+08
South America     1  205915254.237288  205915254.237288           NaN